@model SMS.Models.ViewModel.RegistraionVM

@{
    ViewBag.Title = "Edit";
}

@section styles{

    @Styles.Render("~/bundles/pageStyle")
    @Styles.Render("~/bundles/jQueryStepsSytle")
    @Styles.Render("~/bundles/fileUploadStyle")
    <link rel="stylesheet" href="~/plugins/iCheck/all.css" type="text/css" />
    <style type="text/css">
        .datepicker table tr td.disabled,
        .datepicker table tr td.disabled:hover {
            background: none;
            color: #999999;
            cursor: default;
        }

        .blockMsg {
            margin-left: 200px !important;
        }
    </style>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h4>
            Edit Registration Details
        </h4>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <a class="btn btn-info" href="@Url.Action("Index", "Registration")">
                            <i class="fa  fa-hand-o-left"></i>
                            Back
                        </a>
                    </div>
                    <!-- form start -->
                    <form id="frmEdit" class="form-horizontal" action='@Url.Action("Edit", "Registration")' method="post" enctype="multipart/form-data"
                          data-receipt-redirect-url="@Url.Action("Add","Receipt", new { regId = Model.StudentRegistrationID, redirect = "true" })"
                          data-redirect-url="@Url.Action("Index","Registration")">
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.StudentRegistrationID, new { @id = "hFieldStudentRegId" })
                        @Html.Hidden("InitialEmail", Model.Email)
                        @Html.Hidden("InitialMobile", Model.MobileNo)
                        @Html.HiddenFor(m => m.FeeModeType, new { @id = "hFieldFeeModeType" })
                        @Html.HiddenFor(m => m.InstallmentCount, new { @id = "hFieldInstallmentCount" })
                        @Html.HiddenFor(m => m.OldST, new { @id = "hFieldDbST" })
                        @Html.HiddenFor(m => m.TotalCourseFeePaid, new { @id = "hFieldTotalCourseFeePaid" })
                        @Html.HiddenFor(m => m.TotalSTPaid, new { @id = "hFieldTotalSTPaid" })
                        @Html.HiddenFor(m => m.TotalAmountPaid, new { @id = "hFieldTotalAmountPaid" })
                        @Html.HiddenFor(m => m.FeeMode, new { @id = "hFieldDbFeeMode" })
                        <div class="box-body ">
                            <div id="RegistrationStepz">
                                <h3>PERSONAL DATA</h3>
                                <section>
                                    <div class="col-md-5">
                                        <div class=" form-group ">
                                            <div>
                                                <label for="txtStudentName" class=" control-label">
                                                    Registration Venue
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @foreach (var venue in Enum.GetValues(typeof(SMS.Models.EnumClass.RegistrationVenue)))
                                                {
                                                    <label style="width:100px">
                                                        @Html.RadioButtonFor(m => m.RegistrationVenue, venue, new { @class = "minimal regnVenue" })
                                                        @venue.ToString().Replace('_', ' ')
                                                    </label>


                                                }

                                            </div>

                                        </div>
                                        <div class=" form-group ">
                                            <div>
                                                <label for="txtStudentName" class=" control-label">
                                                    Registration Id
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.RegistrationNumber,
                                                                 new { @class = "form-control ", @placeholder = "RegistrationID", @id = "txtRegistrationID", @readonly = "readonly", @style = "background-color:white" })

                                            </div>
                                        </div>
                                        <div class=" form-group ">
                                            <div>
                                                <label for="txtStudentName" class=" control-label">
                                                    Name
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            @if ((Session["LoggedUserRoleName"].ToString() == SMS.Models.EnumClass.Role.ED.ToString()) || (Session["LoggedUserRoleName"] == SMS.Models.EnumClass.Role.CPDHEAD.ToString()))
                                            {
                                                <div>
                                                    @Html.TextBoxFor(m => m.Name,
                                                                 new { @class = "form-control ", @placeholder = "Name", @id = "txtStudentName" })
                                                    @Html.ValidationMessageFor(m => m.Name)

                                                </div>
                                            }
                                            else
                                            {
                                                <div>
                                                    @Html.TextBoxFor(m => m.Name,
                                                                 new { @class = "form-control ", @placeholder = "Name", @id = "txtStudentName", @readonly = "readonly", @style = "background:white" })

                                                </div>
                                            }

                                        </div>
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtEmailId" class=" control-label">
                                                    Email-Id
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.Email,
                                                            new { @class = "form-control", @placeholder = "EmailId", @id = "txtEmailId" })
                                                @Html.ValidationMessageFor(m => m.Email)
                                            </div>

                                            <div style="margin-top:5px">
                                                <a class="btn btn-primary btn-xs" id="validateEmailLink" data-email="@Model.StudentRegistration.StudentWalkInn.EmailId" data-url="@Url.Action("ValidateEmailOnEdit")">Validate Email</a>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtMobileNo" class=" control-label">
                                                    Mobile No
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.MobileNo,
                                                                 new { @class = "form-control", @placeholder = "MobileNo", @id = "txtMobileNo" })
                                                @Html.ValidationMessageFor(m => m.MobileNo)

                                            </div>
                                            <div style="display:none">
                                                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @placeholder = "MobileNo", @id = "txtDefaultMobNo" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <div class=" form-group ">
                                            <label for="txtPhoto" class=" control-label">
                                                Photo
                                            </label>
                                            @if (Model.StudentRegistration.IsPhotoVerified == true)
                                            {
                                                @Html.TextBoxFor(m => m.PhotoUrl,
                                                                  new { @class = "form-control imgUpload", @placeholder = "Please upload Photo", @id = "txtPhoto", @type = "file", @disabled = "disabled" })

                                                <br />
                                                <div class="alert alert-info alert-dismissable col-md-12">
                                                    <h4><i class="icon fa fa-info"></i> Alert!</h4>
                                                    This image has been verified officially.Cannot upload new image.
                                                    To upload new image kindly mail to info@@networkzsystems.com
                                                </div>

                                            }
                                            else
                                            {
                                                @Html.TextBoxFor(m => m.PhotoUrl,
                                                             new { @class = "form-control imgUpload", @placeholder = "Please upload Photo", @id = "txtPhoto", @type = "file" })

                                                @Html.ValidationMessageFor(m => m.PhotoUrl)
                                            }

                                        

                                        </div>
                                    </div>

                                </section>
                                <h3>COURSE DETAILS </h3>
                                <section>
                                    <div class="col-md-5">
                                        <div class=" form-group" id="divFeeMode" data-url="@Url.Action("GetCourseFee")">
                                            <div>
                                                <label for="InstallmentType" class=" control-label">
                                                    Fee Mode
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @foreach (var mode in Enum.GetValues(typeof(SMS.Models.EnumClass.InstallmentType)))
                                                {
                                                    <label style="width:120px">
                                                        @if (mode.ToString() == SMS.Models.EnumClass.InstallmentType.SINGLE.ToString())
                                                        {
                                                            @Html.RadioButtonFor(m => m.InstallmentType, mode, new { @class = "minimal installment", @id = "rbtnSingle" })
                                                            @mode.ToString()
                                                        }
                                                        else
                                                        {
                                                            @Html.RadioButtonFor(m => m.InstallmentType, mode, new { @class = "minimal installment", @id = "rbtnInstallment" })
                                                            @mode.ToString()
                                                        }

                                                    </label>
                                                }

                                            </div>
                                        </div>
                                        <div class=" form-group" id="divInstallmentNo" style="display:none">
                                            <div>
                                                <label for="ddlInstallmentNo" class=" control-label">
                                                    No of Installment
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.DropDownListFor(m => m.InstallmentID
                                                                 , Model.InstallmentList
                                                                 , ""
                                                                 , new { @class = "form-control select2 ", @id = "ddlInstallmentNo", @style = "width:100%" })
                                                @Html.ValidationMessageFor(m => m.InstallmentID)

                                            </div>

                                        </div>
                                        <div class=" form-group" data-url="@Url.Action("GetCourseList","Registration")" data-details-url="@Url.Action("GetCourseDetails","Registration")" id="divCourseCode">
                                            <div>
                                                <label for="txtStudentName" class=" control-label">
                                                    CourseCode
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.ListBoxFor(m => m.MultiCourseId
                                                                 , Model.MultiCourseList
                                                                          , new { @class = "form-control select2 ", @id = "ddlMultiCourse", @style = "width:100%", @disabled = "disabled" })
                                                @Html.ValidationMessageFor(m => m.MultiCourseId)
                                                <div style="display:none">
                                                    <input type="text" id="txtMultiCourseId" />
                                                    @Html.TextBoxFor(m => m.MultiCourseCode, new { id = "txtMultiCourseCode" })
                                                </div>


                                            </div>

                                        </div>
                                        <div class=" form-group ">
                                            <div>
                                                <label for="txtCourseTitle" class=" control-label">
                                                    CourseTitle
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextAreaFor(m => m.CourseTitle,
                                                                          new { @class = "form-control ", @placeholder = "Course Title", @id = "txtCourseTitle", @rows = 3, @readonly = "readonly" })


                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtSoftwareUsed" class=" control-label">
                                                    Software Used
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextAreaFor(m => m.SoftwareDetails,
                                                                 new { @class = "form-control", @placeholder = "Software Used", @id = "txtSoftwareUsed", @rows = 3, @readonly = "readonly" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-2"></div>
                                    <div class="col-md-5">
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtMobileNo" class=" control-label">
                                                    Duration
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.Duration,
                                                                 new { @class = "form-control", @placeholder = "Duration", @id = "txtDuration", @readonly = "readonly" })

                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtDiscount" class=" control-label">
                                                    Discount
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.Discount,
                                                                 new
                                                                 {
                                                                     @class = "form-control numberOnly",
                                                                     @placeholder = "Discount",
                                                                     @id = "txtDiscount",
                                                                     @title = "Default discount percentage is 50%.For further discount requires CM pin verification.",
                                                                     @readonly = "readonly"
                                                                 })
                                                <div style="display:none">
                                                    @Html.TextBoxFor(m => m.DefaultDiscountPercentage, new { @id = "txtDefaultDiscountPercentage" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtFee" class=" control-label">
                                                    Course Fee
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                @Html.TextBoxFor(m => m.CourseFee,
                                                                 new { @class = "form-control", @placeholder = "Fee", @id = "txtFee", @readonly = "readonly" })
                                                <div style="display:none">
                                                    <input type="text" id="txtCourseFee" value="0" />
                                                </div>


                                            </div>
                                        </div>
                                        <div class="form-group ">
                                            <div>
                                                <label for="txtMobileNo" class=" control-label">
                                                    ST
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div>
                                                <div style="display:none">
                                                    @Html.TextBoxFor(m => m.ST,
                                                                 new { @class = "form-control", @placeholder = "ST", @id = "txtST", @readonly = "readonly" })
                                                </div>

                                                @Html.TextBoxFor(m => m.STAmount,
                                                                 new { @class = "form-control", @placeholder = "ST", @id = "txtSTAmt", @readonly = "readonly" })

                                            </div>
                                        </div>

                                        <div class="form-group ">
                                            <div>
                                                <label for="txtMobileNo" class=" control-label">
                                                    Total Amount
                                                </label>
                                                <label class="reqdLabel">
                                                    *
                                                </label>
                                            </div>
                                            <div class="col-md-6 pull-left">
                                                @Html.TextBoxFor(m => m.TotalFee,
                                                                 new { @class = "form-control", @placeholder = "ST", @id = "txtTotalFee", @readonly = "readonly" })
                                                <div style="display:none">
                                                    <input type="text" id="txtTotalAmt" value="0" />
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                @Html.DropDownListFor(m => m.RoundUpId
                                                                 , Model.RoundUpList
                                                                 , ""
                                                                 , new { @class = "form-control select2 ", @id = "ddlRoundUpList", @style = "width:100%", @disabled = "disabled" })
                                            </div>
                                        </div>

                                    </div>

                                </section>
                                <h3>PAYMENT DETAILS</h3>
                                <section>
                                    <div class="col-md-12">
                                        <div class="box-body no-padding">
                                            <div class="callout callout-success ">
                                                <h4 id="titleTotalamt"></h4>
                                            </div>

                                            <table class="table table-bordered table-hover" id="tblPaymentDetails">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 10px">#</th>
                                                        <th>ReceiptNo</th>
                                                        <th>Fee</th>
                                                        <th>ST Percentage</th>
                                                        <th>ST</th>
                                                        <th>Total</th>
                                                        <th style="display:none">DBTotal</th>
                                                        <th>Due/Paid Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    @if (Model.StudentRegistration.StudentReceipts.Count > 0)
                                                    {
                                                        for (int i = 0; i < Model.StudentReceipt.Count; i++)
                                                        {
                                                            <tr>
                                                                @Html.HiddenFor(m => m.StudentReceipt[i].Status, new { @class = "status", @id = "txtStatus_" + i })
                                                                @Html.HiddenFor(m => m.StudentReceipt[i].CROID, new { @class = "croid", @id = "txtcroId_" + i })
                                                                @Html.HiddenFor(m => m.StudentReceipt[i].ModeOfPayment, new { @class = "mop", @id = "txtmop" + i })
                                                                @Html.HiddenFor(m => m.StudentReceipt[i].StudentReceiptNo, new { @class = "recNo", @id = "txtRecNo" + i })
                                                                <td>
                                                                    @Convert.ToInt32(i + 1)
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.StudentReceiptNoList[i],
                                                                  new { @class = "form-control receiptno", @id = "txtReceiptNo_" + i, @placeholder = "RECEIPT NO", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.StudentReceipt[i].Fee,
                                                                  new { @class = "form-control courseFee", @id = "txtCourseFee_" + i, @placeholder = "Fee", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.StudentReceipt[i].STPercentage,
                                                                  new { @class = "form-control stPercentage", @id = "txtSTPercentage_" + i, @placeholder = "ST Percentage", @readonly = "readonly" })
                                                                </td>
                                                                <td>
                                                                    @Html.TextBoxFor(m => m.StudentReceipt[i].ST,
                                                                  new { @class = "form-control stAmt", @id = "txtST_" + i, @placeholder = "ST", @readonly = "readonly" })
                                                                </td>
                                                                @if (Model.StudentReceipt[i].Status == true)
                                                                {
                                                                    <td>
                                                                        @Html.TextBoxFor(m => m.StudentReceipt[i].Total,
                                                                          new { @class = "form-control totalAmt paid", @id = "txtTotal_" + i, @placeholder = "Total", @readonly = "readonly" })
                                                                    </td>
                                                                    <td style="display:none">
                                                                        @Html.TextBoxFor(m => m.StudentReceipt[i].Total,
                                                                          new { @class = "form-control dbTotalAmt paid", @id = "txtDBTotal_" + i, @placeholder = "Total", @readonly = "readonly" })
                                                                    </td>
                                                                    <td>

                                                                        @Html.TextBoxFor(m => m.StudentReceipt[i].DueDate, Model.StudentReceipt[i].DueDate.Value.ToShortDateString(),
                                                                          new { @class = "form-control date", @id = "txtDueDate_" + i, @placeholder = "DueDate", @readonly = "readonly" })
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        @Html.TextBoxFor(m => m.StudentReceipt[i].Total,
                                                                          new { @class = "form-control totalAmt numberOnly ", @id = "txtTotal_" + i, @placeholder = "Total" })
                                                                        @Html.ValidationMessageFor(m => m.StudentReceipt[i].Total)
                                                                    </td>
                                                                    <td style="display:none">
                                                                        @Html.TextBoxFor(m => m.StudentReceipt[i].Total,
                                                                           new { @class = "form-control dbTotalAmt paid", @id = "txtDBTotal_" + i, @placeholder = "Total", @readonly = "readonly" })
                                                                    </td>
                                                                    <td>

                                                                        @Html.TextBoxFor(m => m.StudentReceipt[i].DueDate, Model.StudentReceipt[i].DueDate.Value.ToShortDateString(),
                                                                          new { @class = "form-control dueDate date", @id = "txtDueDate_" + i, @placeholder = "DueDate", @style = "background-color:white", @readonly = "readonly" })
                                                                        @Html.ValidationMessageFor(m => m.StudentReceipt[i].DueDate)
                                                                    </td>
                                                                }

                                                            </tr>
                                                        }
                                                    }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </section>
                            </div>
                        </div>
                    </form>
                    <!-- form end -->
                    <div class="modal fade" id="divModalPinVerification" data-url="@Url.Action("MobileVerification")">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title">Pin Verification</h4>
                                </div>
                                <div class="modal-body">
                                    <div class="box-body ">
                                        <div class=" form-group col-md-12">
                                            <div class=" pull-left ">
                                                <label for="ddlCourseType" class=" control-label">
                                                    Enter Pin Number
                                                </label>
                                            </div>
                                            <div>
                                                <input type="text" class="form-control" id="mdlPinNo">
                                                <div style="display:none">
                                                    <input type="text" class="form-control" id="mdlReturnPinNo">
                                                </div>

                                            </div>
                                            <div id="divMdlErrorPinNo" style="display:none">
                                                <span class="field-validation-error">Invalid Pin</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="btnMdlClose" type="button" class="btn btn-default pull-left btn-modal btnEdit" data-dismiss="modal">Close</button>
                                    <button id="btnContinue" type="button" class="btn btn-success btn-modal btnEdit">Continue</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>
                <!-- /.box -->
            </div>

        </div>
        <!-- Default box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{
    @Scripts.Render("~/bundles/jqueryStepsScript")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pageScript")
    @Scripts.Render("~/bundles/inputMaskScript")
    @Scripts.Render("~/bundles/checkboxSwitch")
    @Scripts.Render("~/bundles/fileUploadScript")
    <script src="~/plugins/jQueryBlockUI/jquery.blockUI.js"></script>
    @Scripts.Render("~/bundles/jqueryForms")

    <script src="~/Scriptz/Registration/Edit.js"></script>
}

@section jsCode{
    <script type="text/javascript">
        $(function () {

            var getCaption = function (imgUrl) {
                if (imgUrl != "") {
                    var dataArray = imgUrl.split("/");
                    var caption = dataArray[dataArray.length - 1];
                    return caption
                }
                else {
                    return "No File Selected"
                }

            }

            //fileUpload plugin
            $("#txtPhoto").fileinput({
                showUpload: false,
                initialPreview: [
                    '<img src="@Url.Content(Model.StudentRegistration.PhotoUrl!=null?Model.StudentRegistration.PhotoUrl:"#")" class="file-preview-image" alt="' + getCaption("@Model.StudentRegistration.PhotoUrl") + '" title="' + getCaption("@Model.StudentRegistration.PhotoUrl") + '">'
                ],
                overwriteInitial: true,
                initialCaption: getCaption("@Model.StudentRegistration.PhotoUrl")
            });


            @if (ViewBag.StepsChanged)
             {

                @: $("#RegistrationStepz").steps("next");
                            @: $("#RegistrationStepz").steps("next");
                         }
        });
    </script>
}






