@{
    Layout = null;
}
@model SMS.Models.ViewModel.ForgotPasswordVM

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/layoutStyle")
    <!-- Site.css -->
    <link rel="stylesheet" href="~/Styles/Site.css">
    <!-- Bootstrap datepicker -->
    <link rel="stylesheet" href="~/plugins/datepicker/datepicker3.css">   
    <!-- Jquery loading -->
    <link rel="stylesheet" href="~/plugins/IsLoading/jquery.loading.css">   
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")



</head>
<body class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <b>Unlock Password ?</b>
        </div>
        <div class="register-box-body">
            <p class="login-box-msg">Complete the following instructions</p>
            <form id="frmForgotPwd" data-redirect-url="@Url.Action("Login")">
                @Html.AntiForgeryToken()
                <div class="form-group has-feedback">                    
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = "Registered Username" })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Registered Email" })                  
                    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.DOB, new { @class = "form-control numberOnly", @placeholder = "Registered DOB",@id="txtDOB" })            
                    <span class="glyphicon glyphicon-calendar form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.DOB)
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control numberOnly", @placeholder = "Registered Personal MobileNo",@id="txtMobileNo" })            
                    <span class="glyphicon glyphicon-phone form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.MobileNo)
                </div>                
               
            </form>           
            <div class="social-auth-links text-center">               
                <a href="@Url.Action("ForgotPassword","Account")" class="btn btn-block btn-social btn-facebook btn-flat" id="btnResetPwd"><i class="fa fa-hand-o-right"></i> Reset my password</a>
                <a href="@Url.Action("Login","Account")" class="btn btn-block btn-social btn-google btn-flat"><i class="fa  fa-hand-o-left"></i> Back to Login</a>
            </div>
            
        </div><!-- /.form-box -->
    </div><!-- /.register-box -->
    <!-- REQUIRED JS SCRIPTS -->
    @Scripts.Render("~/bundles/layoutScript")
    <!-- jqueryVal -->
    @Scripts.Render("~/bundles/jqueryval")
    <!-- bootstrap datepicker -->
    <script src="../plugins/datepicker/bootstrap-datepicker.js"></script>
    <!-- inputmask extension -->
    <script src="../plugins/input-mask/jquery.inputmask.js"></script>
    <script src="../plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <!-- bootbox alert -->
    <script src="../plugins/Bootbox/bootbox.js"></script>
    <!-- Jquery loading plugin -->
    <script src="../plugins/IsLoading/jquery.loading.js"></script>

    <script>
        $(function () {

            //NumberOnly textbox
            $(document).on("keypress", ".numberOnly", function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                    return false;
                }
                return true;
            });

            //datepicker plugin
            $("#txtDOB").datepicker({
                autoclose: true
            });

            $("#txtDOB").datepicker().on('changeDate', function (e) {
                $(e.target).valid();
            });

            //inputmask    
            $("#txtDOB").inputmask("mm/dd/yyyy", { "placeholder": "MM/DD/YYYY" })

            $("#txtMobileNo").inputmask("9999999999");

            //isLoading function
            var isLoading = function (loading) {
                if (loading) {
                    $('body').loading({
                        message: "Please wait ...",
                        theme: 'dark'
                    });
                }
                else {
                    $('.register-page').loading('stop');
                }
            };

            var clearAll = function () {
                $(".form-control").val('');
            }

            //ajaxInsert
          
            var ajaxInsert = function (e) {                              
               
                var form = $("#frmForgotPwd");
                var href = $(this).attr('href');               
                var test = form.valid();
                var redirectUrl = form.data("redirect-url");
                if (form.valid()) {
                    isLoading(true);
                    var formData = $(form).serialize();
                    $.ajax({
                        type: "POST",
                        url: href,
                        data: formData,
                        datatype: "json",
                        success: function (data) {
                            isLoading(false);
                            if (data.message == "Success") {                                
                                bootbox.confirm("Password was reset successfully. <b>Please check your mail.</b><br/>Go back to Login Page", function (result) {
                                    if (result) {
                                        window.location.href = redirectUrl;
                                    }
                                    else {
                                        clearAll();
                                    }
                                });
                            }
                            else if (data.message == "EmailNotVerified") {
                                bootbox.confirm("Your Email has not been verified yet. <b>Please verify your Email.</b>", function (result) {
                                    if (result) {
                                        window.location.href = redirectUrl;
                                    }
                                    else {
                                        clearAll();
                                    }
                                });
                            }
                            else if (data.message == "MobileNotVerified") {
                                bootbox.confirm("Your Mobile has not been verified yet. <b>Please verify your Mobile.</b>", function (result) {
                                    if (result) {
                                        window.location.href = redirectUrl;
                                    }
                                    else {
                                        clearAll();
                                    }
                                });
                            }
                            else if (data.message == "InvalidUser") {
                                bootbox.alert("Invalid User.Entered details are not correct.");                                
                            }
                            else {
                                bootbox.alert("Error some thing happened.");
                            }
                        },
                        error: function (data) {
                            isLoading(false);
                            toastr.error("Exception:Something gone wrong");
                        }
                    });
                }

                return false;
            }

            //Password Reset button click


            //Save Center code details
            $(document).on("click", "#btnResetPwd", ajaxInsert);

        });
    </script>
</body>
</html>

