@{
    Layout = null;

}
@model SMS.Models.ViewModel.UserVM

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link href="~/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    @Styles.Render("~/bundles/layoutStyle")
    <!-- iCheck -->
    <link rel="stylesheet" href="~/Styles/Site.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!--Strength Meter-->
    <link rel="stylesheet" href="~/plugins/strengthMeter/css/strength-meter.min.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .kv-meter-container
        {
            width:0px;
        }
      
       
    </style>

</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="#"> <b>First Time Login ??</b></a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Please change your password</p>

            <form method="post" id="frmChangePwd">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.Id)
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Username", @readonly = true })
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.CurrentPassword, new { @class = "form-control clearTextbox", @placeholder = "Current Password", @type = "password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    @Html.ValidationMessageFor(m => m.CurrentPassword)
                </div>

                <div class="form-group has-feedback divNewPwd" >
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control clearTextbox txtnewPwd", @placeholder = "New Password", @type = "password" })                   
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>

                <div class="form-group has-feedback confirmPassword">
                    @Html.TextBoxFor(m => m.NewPassword2, new { @class = "form-control clearTextbox txtConfirmPwd", @placeholder = "Confirm Password", @type = "password" })                    
                    @Html.ValidationMessageFor(m => m.NewPassword2)
                </div>
               


            </form>
            <div class="social-auth-links text-center">
                <a href="@Url.Action("PasswordChange")" data-redirect-url="@Url.Action("Login")" class="btn btn-block btn-social btn-facebook btn-flat btnChangePwd"><i class="fa fa-unlock"></i> Change Password</a>
                <a href="@Url.Action("Login")"  class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-hand-o-left"></i>Back to Login</a>
            </div><!-- /.social-auth-links -->
        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- REQUIRED JS SCRIPTS -->
    @Scripts.Render("~/bundles/layoutScript")
    <!-- jqueryVal -->
    @Scripts.Render("~/bundles/jqueryval")
    <!--Strength Meter-->
    <script src="@Url.Content("~/plugins/strengthMeter/js/strength-meter.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/plugins/Bootbox/bootbox.js")"></script>

    <script>
        $(function () {
            $(".txtnewPwd").strength();
            $(".txtConfirmPwd").strength({
                showMeter: false,
               
               
            });

            $(document).on("click", ".btnChangePwd", function () {

                var form = $("#frmChangePwd");
                var href = $(this).attr('href');
                var redirectUrl = $(this).data("redirect-url");
                if (form.valid()) {
                    var formData = $(form).serialize();
                    $.ajax({
                        type: "POST",
                        url: href,
                        data: formData,
                        datatype: "json",
                        success: function (data) {
                            //isLoading(false);
                            if (data.message == "success") {
                                $(".clearTextbox").val("");
                                bootbox.confirm("Successfully saved the details.<br/> Click <strong> OK </strong> to go back to login page.", function (result) {
                                    if (result) {
                                        $(".form-control").val("");
                                        window.location.href = redirectUrl;
                                    }
                                });
                            }
                            else if (data.message == "error_password") {
                                bootbox.alert("Current password is not correct");
                            }
                            else {
                                bootbox.alert("Error:Something gone wrong");
                            }
                        },
                        error: function (data) {
                            //isLoading(false);
                            bootbox.alert("Exception:Something gone wrong");
                        }
                    });
                }

                return false;
            });

        });
    </script>
</body>
</html>
