@model SMS.Models.ViewModel.ReportVM
@{
    ViewBag.Title = "ReferenceReport";
}

@section styles{

    @Styles.Render("~/bundles/pageStyle")
    <link rel="stylesheet" href="~/plugins/iCheck/all.css" type="text/css" />
    <style>
        .datepicker table tr td.disabled,
        .datepicker table tr td.disabled:hover {
            background: none;
            color: #999999;
            cursor: default;
        }

        option:empty {
            display: none;
        }
    </style>

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h4>
            Reference Report
        </h4>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <!-- form start -->
                    <form id="frmAdd" class="form-horizontal" action='@Url.Action("ReferenceReport", "Report")' data-redirect-url="@Url.Action("ReferenceGenerateReport")">
                        @Html.AntiForgeryToken()
                        <div class="box-body">
                            <div class="col-md-8 pull-left ">
                                <div class="form-group  ">
                                    <div class="col-sm-4 pull-left">
                                        <label for="ddlQlfnType" class=" control-label">
                                            Select FinancialYear
                                        </label>
                                    </div>
                                    <div class="col-sm-5 pull-left">
                                        @Html.DropDownListFor(m => m.FinYearId
                                                            , Model.FinYearList
                                                            , ""
                                                            , new { @class = "form-control select2 ", @id = "ddlFinYear", @style = "width:100%" })
                                        <div class="spinner" style="display:none">
                                            <i class="fa fa-refresh fa-spin spin-small "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 pull-left" id="divCentre" data-href="@Url.Action("GetEmployee_On_CentreChange")">
                                <div class="form-group  ">
                                    <div class="col-sm-4 pull-left">
                                        <label for="ddlQlfnType" class=" control-label">
                                            Select Centre
                                        </label>
                                    </div>
                                    <div class="col-sm-5 pull-left">
                                        @Html.DropDownListFor(m => m.CentreId
                                                            , Model.CentreList
                                                            , ""
                                                            , new { @class = "form-control select2 ", @id = "ddlCentre", @style = "width:100%" })
                                        <div class="spinner" style="display:none">
                                            <i class="fa fa-refresh fa-spin spin-small "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 pull-left ">
                                <div class="form-group  ">
                                    <div class="col-sm-4 pull-left">
                                        <label for="ddlQlfnType" class=" control-label">
                                            Select Employee
                                        </label>
                                    </div>
                                    <div class="col-sm-5 pull-left">
                                        @Html.DropDownListFor(m => m.EmpId
                                                            , Model.EmpList
                                                            , ""
                                                            , new { @class = "form-control select2 ", @id = "ddlEmployee", @style = "width:100%" })
                                        @Html.ValidationMessageFor(m => m.EmpId)
                                        <div class="spinner" style="display:none">
                                            <i class="fa fa-refresh fa-spin spin-small "></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 pull-left ">
                                <div class="form-group  ">
                                    <div class="col-sm-4 pull-left">
                                        <label for="ddlQlfnType" class=" control-label">
                                            From Date
                                        </label>
                                    </div>
                                    <div class="col-sm-5 pull-left">
                                        @Html.TextBox("FromDate", Model.FromDate.Value.ToShortDateString(),
                                                                        new { @class = "form-control", @placeholder = "FromDate", @id = "txtFrom", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.FromDate)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8 pull-left ">
                                <div class="form-group  ">
                                    <div class="col-sm-4 pull-left">
                                        <label for="ddlQlfnType" class=" control-label">
                                            To Date
                                        </label>
                                    </div>
                                    <div class="col-sm-5 pull-left">
                                        @Html.TextBox("ToDate", Model.ToDate.Value.ToShortDateString(),
                                                                                          new { @class = "form-control", @placeholder = "FromDate", @id = "txtTo", @readonly = "readonly" })
                                        @Html.ValidationMessageFor(m => m.ToDate)

                                    </div>
                                </div>
                            </div>


                        </div>


                        <div class="box-footer col-md-12">
                            <button type="submit" id="btnSubmit" class="btn btn-info pull-left ">
                                <i class="fa  fa-save"></i>
                                Generate Report
                            </button>
                        </div>
                    </form>


                </div>
                <!-- /.box -->
            </div>

        </div>
        <!-- Default box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/pageScript")
    @Scripts.Render("~/bundles/checkboxSwitch")
    <script src="~/plugins/jQueryBlockUI/jquery.blockUI.js"></script>
    <script src="~/Scriptz/Report/ReferenceReport.js"></script>
}
