@{
    ViewBag.Title = "Index";
}

@section styles{
    @Styles.Render("~/bundles/pageStyle")
    @Styles.Render("~/bundles/dataTableStyle")

}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h4>
            Group Setting
        </h4>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <a class="btn btn-info" href="@Url.Action("Add", "Group")">
                            <i class="fa fa-plus"></i>
                            AddNew
                        </a>
                    </div>
                    <!-- form start -->
                    <form id="frmIndex" data-url="@Url.Action("Index")" class="form-horizontal" data-delete-url="@Url.Action("Delete")"
                          data-edit-url="@Url.Action("Edit", new { GroupName = "param_placeholder" })">
                        <!-- /.box-body -->
                        <div class="box-body ">
                            <table class="table table-bordered table-striped dTable" data-url="@Url.Action("GetDataTable", "Group")">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Group Name </th>
                                        <th>Centre  </th>
                                        <th>Date</th>
                                        <th></th>

                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="box-footer col-md-12">
                        </div>
                        <!-- /.box-footer -->
                    </form>

                    <!-- /.modal -->
                    <div class="box-footer col-md-12">
                    </div>
                    <!-- /.box-footer -->
                </div>
                <!-- /.box -->
            </div>
        </div>
        <!-- Default box -->
    </section>
    <!-- /.content -->

</div>
<!-- /.content-wrapper -->
@section scripts{
    @Scripts.Render("~/bundles/pageScript")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/dataTableScript")
    <script src="~/plugins/jQueryBlockUI/jquery.blockUI.js"></script>
    <script src="~/Scriptz/Group/Index.js?c= @DateTime.Now.ToString("ddMMyyyy")@DateTime.Now.Second.ToString()"></script>
}